{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


<div class="site-header-content">
    <div class="container">
        <h1>Our blog</h1>
    </div>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        {{#tag}}
            <div class="tags-tabs__container">
                <div class="tags-tabs">
                    {{#get 'tags' limit='all' inclue='count.posts' order='count.posts desc'}}
                        <a class="tags-tab" href="{{@site.url}}">All</a>
                        {{#foreach tags}}
                            <a class="tags-tab" href="{{url}}">{{name}}</a>
                        {{/foreach}}
                    {{/get}}
                </div>
                <div class="tag-desc">
                    <p class="post-card-primary-tag">{{name}}</p>
                    <p class="tag-desc__p">{{description}}</p>
                </div>
            </div>
        {{/tag}}

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>


{{!-- Active category tab  --}}
<script async>
    const tabs = document.querySelectorAll('.tags-tab');
    for (let i = 0; i < tabs.length; i++) { 
        const att = tabs[i].getAttribute('href');
        if(att == window.location.pathname){
            tabs[i].classList.add('current');
        }
    }
</script>